/* Tambahkan animasi fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Tambahkan kelas untuk menerapkan animasi */
.fade-in {
    animation: fadeIn 1s ease-out;
}

/* Custom CSS Styles */

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar {
    border-bottom: 4px solid #007bff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.section {
    padding-top: 150px; /* Menambahkan ruang di bawah navbar */
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

/* Text Styles */
p, .lead, .card-text {
    font-size: 1rem;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .section-title {
        margin-bottom: 20px;
    }
}

/* CSS */
.contact-label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

#contact {
    padding-bottom: 50px; /* Menambahkan jarak antara Contact Section dan Footer */
}

#introduction {
    padding-bottom: 5px;
}

.card:hover {
    background-color: #f8f9fa; /* Mengubah warna latar belakang saat kursor berada di atas kotak */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan untuk membuat kotak lebih menonjol */
}
